 body {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    /* overflow: hidden;  */
}

.Home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw; 
    height: 90vh;
    position: relative; 
}

.Home::before {
    content: "";
    position: absolute;
    background: url(../assets/s.jpeg) ;
    background-position: center;
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* opacity: 0.85; --> transparent*/
    top: 0;
    left: 0;
    filter: grayscale(60%);
}

.Heading {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 48px;
    font-weight: 700;
    margin: 10px 0;
    padding: 0 10px;
    width: 100%;
    text-align: center;
}

.navbar-brand {
    display: flex;
    align-items: center; 
    height: 100%;
}
.HomePara {
    color: black;
    width: 80%;  
    font-size: 1.2rem;
    line-height: 1.6;
    text-align: justify;
    font-weight: bold;
}
.create-btn {
    padding: 5px;
    color: white;
    width: 130px;
    font-size: 20px;
    border-radius: 5px;
   background-color: rgb(201, 155, 100);
    border: none;
    font-weight: bold;
  }

  .logo {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    color: white;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
    border: 2px solid white;
    padding: 2px 6px;
    background-color: transparent;
    white-space: nowrap;
  }

  input:focus {
    outline: none !important;
    box-shadow: none !important;
    /* border: 1px solid  rgb(243, 200, 148) !important; */
  }
  .nav-item{
     font-family: 'Poppins', sans-serif;
     font-size: 17px;
     margin: 0 2.5px; 
 }
 
.nav{
    position: sticky;
    z-index: 1000;
}
    