.head {
  color: black;
  background-color: rgb(243, 200, 148);
  font-size: 30px;
  padding: 4px 6px;
}
.text {
  margin-left: 20px;
  gap: 10px;
}
.heading {
  background: linear-gradient(
    to right,
    #030f03 0%,
    #155715 50%,
    rgb(32, 70, 32) 100%
  );
  color: rgb(243, 200, 148);
  padding: 12px 0;
  margin: 0;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-box {
  border: 2px solid rgb(243, 200, 148);
  border-top: none;
  padding: 20px;
  background-color: rgb(243, 200, 148);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.create-btn1 {
  background: linear-gradient(
    to right,
    #030f03 0%,
    #155715 50%,
    rgb(32, 70, 32) 100%
  );
  padding: 5px;
  color: rgb(243, 200, 148);
  width: 130px;
  font-size: 15px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
}
.logo1 {
  font-size: 20px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  color: white;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  border: 2px solid white;
  padding: 2px 6px;
  background-color: transparent;
  white-space: nowrap;
}
.is-valid {
  border: 2px solid green;
  border-left: 10px solid green;
}
.is-invalid {
  border: 2px solid red;
  border-left: 10px solid red;
}
.text-success {
  color: green;
}
.text-danger {
  color: red;
}

/* ...............................CreateProduct.jsx....................................... */

.heading {
  background-color: rgb(169, 169, 169);
  color: white;
  border-radius: 3px;
  padding: 15px 0;
  margin: 0;
}

.dot {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
  background-color: rgb(243, 200, 148);
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  height: 350px;
}
/* ...............................Mens,kids,women sCollection............................................. */

.product-card {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  transition: transform 0.3s ease-in-out;
}

.product-card:hover {
  transform: scale(1.05);
}

.card-img {
  width: 100%;
  height: 280px;
  border-bottom: 1px solid #ddd;
}

.card-body {
  flex: 1;
  width: 100%;
}

.product-info {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  width: 100%;
  align-items: center;
}

.info-box {
  border: 1px solid #ddd;
  padding: 10px;
  width: 90%;
  text-align: center;
  font-weight: 500;
  border: none;
}

.create-btn13 {
  padding: 5px;
  color: white;
  width: 90%;
  font-size: 15px;
  border-radius: 5px;
  background-color: #bb742e;
  border: none;
  font-weight: bold;
}

.create-btn13:hover {
  background-color: rgb(201, 155, 100);
}
/* ....................item.jsx.............................. */

.d-flex {
  /* display: flex;
  justify-content: center;
  align-items: flex-start; */
  max-width: 700px;
  margin: auto;
}
.create-btn16 {
  padding: 5px;
  color: white;
  width: 150px;
  font-size: 15px;
  border-radius: 5px;
  background-color: #bb742e;
  border: none;
  font-weight: bold;
}

.create-btn16:hover {
  background-color: rgb(201, 155, 100);
}

/* .......................All cart.jsx...................................... */

.delete-btn {
  padding: 5px;
  font-size: 19x;
  background: linear-gradient(to right, #8b0000, #ff0000);
  border: none;
  color: white;
}

.delete-btn:hover {
  background: linear-gradient(to right, #ce2121, #831d1d);
}

.create-btn14 {
  padding: 5px;
  color: white;
  width: 130px;
  font-size: 15px;
  border-radius: 5px;
  background: linear-gradient(to right, #000000, #6a0dad);
  border: none;
  font-weight: bold;
}
.create-btn14:hover {
  background: linear-gradient(to right, #8e44ad, #2c3e50);
}

.create-btn15 {
  padding: 5px;
  color: white;
  width: 130px;
  font-size: 15px;
  border-radius: 5px;
  background: linear-gradient(to right, #030f03 0%, #155715 50%, #29a829 100%);
  border: none;
  font-weight: bold;
}
.create-btn15:hover {
  background: linear-gradient(to right, #137513, #57d657);
}
/* ..........................Success.jsx............................................... */

.success-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  text-align: center;
}

.circle {
  width: 190px;
  height: 190px;
  border-radius: 50%;
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.checkmark {
  font-size: 100px;
  font-weight: 50px;
}

.create-btn11 {
  padding: 5px;
  color: white;
  width: 130px;
  font-size: 20px;
  border-radius: 5px;
  background: black;
  border: none;
  font-weight: bold;
}

/* ................................updateProducts.jsx............................................. */

.update-btn {
  padding: 5px;
  width: 100px;
  font-size: 12px;
  background: linear-gradient(to right, #000000, #6a0dad);
  margin: 0 5px;
  border: none;
  color: white;
}

.update-btn:hover {
  background: linear-gradient(to right, #8e44ad, #2c3e50);
}

/* ...............................Order-History..................................................... */

.btn-1 {
  background-color: rgb(55, 55, 241);
  color: white;
  border-radius: 5px;
  padding: 5px;
  font-size: 18px;
  border: none;
  font-weight: 600;
}

.btn-2 {
  background-color: gray;
  color: white;
  border-radius: 5px;
  padding: 5px;
  font-size: 18px;
  border: none;
  font-weight: 600;
}

.btn-3 {
  background-color: rgb(56, 189, 241);
  color: black;
  border-radius: 5px;
  padding: 5px;
  font-size: 18px;
  border: none;
  font-weight: 500;
}

.btn-4
{
  background-color: rgb(56, 189, 241);
  color: black;
  border-radius: 5px;
  padding: 5px;
  font-size: 18px;
  border: none;
  font-weight: 500;
}

.btn-5
{
  background-color: red;
  color: white;
  border-radius: 5px;
  padding: 5px;
  font-size: 18px;
  border: none;
  font-weight: 500;
}
/* ...............................forgotpass.jsx....................................... */

.heading1 {
  background-color: rgb(169, 169, 169);
  color: white;
  border-radius: 3px;
  padding: 15px 0;
  margin: 0;
}

.dot1 {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
  background-color: rgb(243, 200, 148);
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  height: 200px;
}